<h1 align="center">Welcome to <%= @user.username %>'s page</h1>

<div class="row">
    <p align="center"><%= gravatar_for @user, size: 150 %> <%= @user.email if @user == current_user or current_user.admin? %></p>
</div>

<h4 align="center"><%= @user.username %>'s articles</h4>
<%= render 'articles/article_list', obj_article: @user_articles %>
<div class="center">
    <%= will_paginate(@user_articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
</div>