<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li><%= link_to "Articles as cards", articles_path, class: "nav-link" %></li>
      <li><%= link_to "Articles as table", indextab_path, class: "nav-link" %></li>      
      <li><%= link_to "Users", users_path, class: "nav-link" %></li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if logged_in? and current_user.admin? %>
              <%= link_to "Add category", new_category_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
            <% end %>
            <%= link_to "All Categories", categories_path, class: "dropdown-item" %>
            <div class="dropdown-divider"></div>
            <% Category.all.each do |categ| %>
              <%= link_to "#{categ.name}", category_path(categ), class: "dropdown-item" %>
            <% end %>
          </div>
      </li>

      <% if logged_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Actions
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to "New Article", new_article_path, class: "dropdown-item" %>
        </div>
      </li>
      <% end %>
    </ul>
    <ul class="navbar-nav ml-md-auto d-md-flex">
      <% if logged_in? %>
        <li><%= link_to "Logout", logout_path, method: :delete, class: "nav-link" %></li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= gravatar_for current_user, size: 30 %>
          <%= current_user.username %><%= " (Admin)" if current_user.admin? %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Edit profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= link_to "View profile", user_path(current_user), class: "dropdown-item" %>
          </div>
      </li>
      <% else %>
        <li><%= link_to "Login", login_path, class: "nav-link" %></li>  
      <% end %>
    </ul>
  </div>
</nav>